{{ form_start(form, {'attr': {'class': 'form-filter p-3 card'} }) }}

{{ form_row(form.query) }}

<h2 class="mb-3">Catégories:</h2>

{{ form_row(form.categories, {'attr': {'class': 'd-flex flex-wrap gap-2'} }) }}

<h2 class="mb-3">Auteurs:</h2>

{{ form_row(form.auteur, {'attr': {'class': 'd-flex flex-wrap gap-2'} }) }}

<button type="submit" class="btn btn-primary">Filter</button>

{{ form_end(form) }}
